<section class="mt-24 py-10 px-4">

    <a href="/home">&larr; Back</a>
    <div class="admin-title">
      <h2>Add New Match Fixture</h2>
    </div>
    
    <form action="/home/add-match" method="POST">
    
      <label for="title"><b>Home</b></label>
      <input type="text" placeholder="Home team" name="hometeam">
    
      <label for="title"><b>Away</b></label>
      <input type="text" placeholder="Away team" name="awayteam">

      <label for="title"><b>Match Type</b></label>
      <input type="text" placeholder="Friendly" name="matchtype">

      
        <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Match Date</label>
        <input type="date" id="date" name="matchdate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>


      <label for="title"><b>Match Time</b></label>
      <input type="text" placeholder="10:00am" name="matchtime">

      <label for="title"><b>Match Venue</b></label>
      <input type="text" placeholder="Kasarani" name="matchvenue">

      <button type="submit" value="Add" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    
    </form>

</section>