<section class="mt-24 flex items-center justify-center h-full bg-slate-200 py-5">
    <form action="/home/register" class="form_main rounded-md" method="POST">
        <p class="heading">Signup</p>
        <div class="inputContainer">
        <input type="text" class="inputField" id="username" placeholder="Username" name="username" required autocomplete="off">
        </div>
        
    <div class="inputContainer">
        <input type="password" class="inputField" id="password" placeholder="Password" name="password" required>
    </div>
                  
               
    <button id="button" type="submit">Sign-up</button>
    </form>
</section>