<section class="mt-28 bg-[#07004D] py-9 px-6">
    <p>
        Welcome to OsasunaH FC, where football isn't just a game—it's a way of life. Founded by a group of friends united by their passion for the beautiful game, our club embodies the spirit of camaraderie, friendship, and fitness. With a shared love for football, we come together not only to compete on the pitch but also to foster brotherhood, forge connections, and stay active.
    </p>

    <p class="mt-5">
        At OsasunaH FC, we believe that football is more than just kicking a ball—it's about building bonds that last a lifetime. Whether we're celebrating victories or learning from defeats, our club serves as a platform for individuals to come together, support each other, and grow both as players and as people. With each match, training session, and team event, we strengthen our relationships and create lasting memories.
    </p>
    
    <p class="mt-5">
        Join us at OsasunaH FC and be a part of something greater than yourself. Whether you're a seasoned player or new to the game, our club welcomes all who share our love for football and our commitment to friendship, camaraderie, and fitness. Together, let's write the next chapter of our football journey and continue to inspire, encourage, and uplift one another both on and off the field.
    </p>
</section>