

<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-24">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/cliffe_mike_ondiala.jpg" alt=""> 
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/mike2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/fab1.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/fab.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/edu.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/cante.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/184.jpg" alt="">
        </div>
        <div>
            <video src="../img/cup.mp4" autoplay  loop muted class="cover rounded-md" class="z-10"></video>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/mike.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/fabby_cliffe.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/oloo.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/6.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/delo_1.jpg" alt=""> 
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/founders_.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/group_1.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/Agai.jpg" alt=""> 
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/oloo2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/Yobra.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/mike.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/oloo.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/delo_4.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/cliffe_mike_ondiala.jpg" alt=""> 
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/adrian2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../img/ondiala_2.jpg" alt="">
        </div>
    </div>
</div>
